@font-face {
    font-family: "Poppins";
    src: url(../assets/Font/Poppins-Regular.ttf) format(truetype);
    font-weight: 400;
}

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    font-size: 18px;
}

:root {
    --primary-color: #2196f3;
    --pale-color: #e3f2fd;
    --text-color: #3c4f5e;
}

i {
    display: flex;
    justify-content: center;
    align-items: center;
}

*::selection {
    background: hwb(207 13% 5% / 0.25);
    color: #730f92;
}