.container {
    display: flex;
    flex-direction: column;
    width: 36rem;
}

.container h1 {
    display: flex;
    font-family: sans-serif;
    font-size: 3rem;
    gap: 1rem;
    color: #333333;
    align-items: center;
    position: relative;
    /* margin: 1rem 0 0 0; */
}

.ssection h2 {
    color: #535353;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
    /* margin: 1rem 0 0 0; */
}

.text {
    color: #535353;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

.con_btn {

    position: relative;
}

.btn {
    margin-top: 3rem;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 500;
    padding: 0.5rem 2rem;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 1.1rem;
    color: white;
    background-color: #222833;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.sent {
    object-fit: contain;
    width: 1.5rem;
    transition: 0.2s;
}

.btn:hover .sent {
    width: 2rem;
    transform: rotate(35deg);
}