.icons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.img {
    object-fit: contain;
    width: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.img:hover {
    transform: scale(1.2);
}